<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codekitchen.allen.mycce" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:maxSdkVersion="22" />

    <!-- ====parse推播(start)==== -->
    <permission
        android:name="com.codekitchen.allen.mycce.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.codekitchen.allen.mycce.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:maxSdkVersion="22" />

    <!-- ====parse推播(end)==== -->
    <!-- ====下方 android:name=".BingoApplication" 是為了parse初始設定==== -->
    <application
        android:name=".BingoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Prd_Query_Result"
            android:label="@string/title_activity_activity__prd__query__result" >
        </activity>
        <activity
            android:name=".Activity_Prd_Detail"
            android:label="@string/title_activity_activity__prd__detail" >
        </activity>
        <activity
            android:name=".Activity_Prd_Query"
            android:label="@string/title_activity_activity__prd__query" >
        </activity>
        <activity
            android:name=".Activity_Bingo"
            android:label="@string/title_activity_activity__bingo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Activity_BigFuTry"
            android:label="@string/title_activity_activity__big_fu_try" >
        </activity>
        <activity
            android:name=".Activity_WayLiTry"
            android:label="@string/title_activity_activity__way_li_try" >
        </activity>

        <!-- ====parse推播(start)==== -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.codekitchen.allen.mycce" />
            </intent-filter>
        </receiver>
        <!-- ====parse推播(end)==== -->

        <activity
            android:name=".Activity_fragment1"
            android:label="@string/title_activity_activity_fragment1" >
        </activity>
        <activity
            android:name=".Activity_fragment2"
            android:label="@string/title_activity_activity_fragment2" >
        </activity>
        <activity
            android:name=".Activity_Gopher1"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_activity__gopher1" >
        </activity>
    </application>

</manifest>
